{% extends 'base.html.twig' %}
{% block title %}editar{% endblock %}
{% block body %}

<h1>Editar usuario</h1>

{{ include('usuario/_form.html.twig') }} <!--Incluyendo el form en este archivo-->

{% endblock %}

