{% extends 'base.html.twig'%} 
{% block body %}
<!--Usando una plantilla superior (heredando codigo html), se estara plasmando dentro del bloque definido en la plantilla-->
<h3>hola</h3>
{% endblock %}